.form-wrapper {
    position: relative;
    background: url(../images/contact-bg.png) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

}



.contact-card{
    position: absolute;
    top: 30rem;
    left: 43%;
    background-color: #666666;
    z-index: 2;
    box-shadow: rgb(31, 191, 240) 0px 20px 30px -10px;
    color: white;
    border: solid var(--primary-blue) 1px;
}

.card-links{
    color: var(--primary-blue);
    
}



.tsparticles-canvas-el{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}